.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 70%;
}

.image-holder {
  flex: 25%;
  max-width: 33%;
  padding: 8px;
  height: fit-content;
}

.main-content {
  display: flex;
  justify-content: center;
}

.meme-top-caption {
  display: flex;
  margin-bottom: 2px;
  height: 80px;
  width: auto;
  /* background-color: red; */
}

.toptext {
  border: none;
  font-size: large;
  width: 100%;
  outline: none;
  resize: none;
  font-family: "Roboto";
  /* background-color: blue; */
}

.buttons .downloadButton {
  float: right;
  margin-top: 20px;
  width: 200px;
  /* background-color: dimgray; */
  height: 50px;
}

.buttons .downloadButton:hover {
  /* background-color: black; */
  color: white;
  border: none;
}

.box {
  display: flexbox;
  padding: 20px;
  background-color: white;
}

.buttons {
  padding: 20px;
  justify-content: space-between;
}

.fontButton Button {
  margin: 5px;
}

.offscreen-div {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
  white-space: pre-wrap;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
}

.modal {
  overflow: scroll;
  /* max-height: 90%; */
  /* background-color: blueviolet; */
}

.memeImage {
  width: 500px;
  height: 400px;
  object-fit: cover;
}